{% load static %}

<!doctype html>
<html lang="en" class="h-100">
<head>
    {% block title %}
    {% endblock %}
    <!-- Bootstrap core CSS -->
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }





    </style>

    <!-- Custom styles for this template -->
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">AskMe</a>
            <a class="navbar-brand" href="{% url 'ask' %}">New ask</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-4 mb-md-0" style="margin-left: 50px;">
                    <input class="form-control me-4" type="search" placeholder="Search" aria-label="Search">
                    <input type="image" src="{% static '/img/search.svg' %}"
                           style="width: 25px;height: 25px; margin:5px;"/>

                </ul>

                <form class="d-flex">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <img src="../static/img/image.png" alt="" class="avatar_mini">
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="nav-item-text" style="margin:0px;">Dr. Pepper</div>
                                    <div class="col-6">
                                        <a class="nav-link active nav-item-href" aria-current="page"
                                           href="{% url 'settings' %}">settings</a>
                                    </div>
                                    <div class="col-6">
                                        <a class="nav-link active nav-item-href" aria-current="page"
                                           href="{% url 'login' %}">log
                                            out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-8">
                {% block content %}
                {% endblock %}
            </div>

            <div class="col-4">
                <div class="row" style="margin-left: 50px;">
                    <h2>Popular tags</h2>
                    <div>
                        {% for tag in popular_tags %}
                            <a class="tags btn btn-outline-info" href="{% url 'tag' tag.id %}">{{ tag.name }}</a>
                        {% endfor %}

                    </div>
                    <div style="margin-top: 50px;">
                        <h2>Best members</h2>
                        <ul class="list-group">
                            {% for user in best_members %}
                            <li class="list-group-item"><a href="">{{ user.user.username }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% block pagination %}
        {% endblock %}

    </div>
</main>


<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">2023</span>
    </div>
</footer>


<script src="{% static '/js/bootstrap.js' %}"></script>


</body>
</html>
