{% load static %}

<!doctype html>
<html lang="en" class="h-100">
<head>
    {% block title %}
    {% endblock %}
    <!-- Bootstrap core CSS -->
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>

    <!-- Custom styles for this template -->
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">AskMe</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-4 mb-md-0">
                    <input class="form-control me-4" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Ask</button>
                </ul>

                <form class="d-flex">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <img src="../static/img/image.png" alt="" class="avatar_mini">
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="nav-item-text" style="margin:0px;">Dr. Pepper</div>
                                        <div class="col-6">
                                            <a class="nav-link active nav-item-href" aria-current="page" href="{% url 'settings' %}">settings</a>
                                        </div>
                                        <div class="col-6">
                                            <a class="nav-link active nav-item-href" aria-current="page" href="{% url 'login' %}">log
                                                out</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-8">
                {% block content %}
                {% endblock %}
            </div>

            <div class="col-4">
                <div class="row" style="margin-left: 50px;">
                    <h2>Popular tags</h2>
                    <div>
                        <span class="tags btn btn-outline-secondary">Python</span>
                        <span class="tags btn btn-outline-primary">CSS</span>
                        <span class="tags btn btn-outline-success">HTML</span>
                        <span class="tags btn btn-outline-danger">Django</span>
                        <span class="tags btn btn-outline-warning">Firefox</span>
                        <span class="tags btn btn-outline-dark">Mail.ru</span>

                    </div>
                    <div style="margin-top: 50px;">
                        <h2>Best members</h2>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="">pupkin</a></li>
                            <li class="list-group-item"><a href="">zalupkin</a></li>
                            <li class="list-group-item"><a href="">nagibkin</a></li>
                            <li class="list-group-item"><a href="">sadipkin</a></li>
                            <li class="list-group-item"><a href="">gadupkin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<nav aria-label="..." style="margin-top: 30px; margin-left: 70px">
    <ul class="pagination">
        <li class="page-item disabled"><span class="page-link">Previous</span></li>
        <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">2023</span>
    </div>
</footer>


<script src="{% static '/js/bootstrap.js' %}"></script>


</body>
</html>
