{% extends 'layouts/base.html' %}

{% block title %}
<title>Ask</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-auto page-title">
        <h1>New question</h1>
    </div>
</div>

<div class="row">
    <div class="input-group mb-3 text_input">
        <span class="input-group-text" id="title-desc">Title</span>
        <input type="text" class="form-control" id="title" aria-describedby="title">
    </div>

    <div class="input-group text_input">
        <span class="input-group-text">Text</span>
        <textarea class="form-control" aria-label="text"></textarea>
    </div>

    <div class="input-group mb-3 text_input">
        <span class="input-group-text" id="tags-desc">Tags</span>
        <input type="text" class="form-control" id="tags" aria-describedby="tags">
    </div>

    <button type="button" class="btn btn-primary btn-lg" style="margin: 40px; max-width: 100px;">
        Ask
    </button>


</div>

{% endblock %}
