{% extends 'layouts/base.html' %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-auto page-title">
        <h1>Log In</h1>
    </div>

    <div class="row">

        <div class="input-group mb-3 text_input">
            <span class="input-group-text">Login</span>
            <input type="text" class="form-control" id="login" placeholder="your_login">
        </div>
        <div class="input-group mb-3 text_input">
            <span class="input-group-text">Password</span>
            <input type="password" class="form-control" id="password" placeholder="********">
        </div>

        <div class="alert alert-danger" role="alert" style="margin-left: 30px; padding:5px;">
            Sorry, wrong password!
        </div>

        <button type="button" class="btn btn-primary" style="margin: 40px; max-width: 200px;">
            Log in
        </button>

        <button type="button" class="btn btn-outline-secondary" style="margin: 40px; max-width: 200px;">
            Create account
        </button>

    </div>

</div>

{% endblock %}