{% extends 'layouts/base.html' %}

{% block title %}
<title>Settings</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-auto page-title">
        <h1>Settings</h1>
    </div>

    <div class="row">

        <div class="input-group mb-3 text_input">
            <span class="input-group-text">Login</span>
            <input type="text" class="form-control" id="login" placeholder="dr_pepper">
        </div>
        <div class="input-group mb-3 text_input">
            <span class="input-group-text">Email</span>
            <input type="text" class="form-control" id="email" placeholder="dr_pepper@mail.ru">
        </div>

        <div class="input-group mb-3 text_input">
            <span class="input-group-text">NickName</span>
            <input type="text" class="form-control" id="nickname" placeholder="Dr. Pepper">
        </div>

        <img src="../static/img/image.png" alt="" class="avatar_mini" style="margin: 10px 40px; 10px">

        <div style="margin: 20px;">
            avatar.png
        </div>

        <button type="button" class="btn btn-secondary" style="margin: 40px; max-width: 100px;">
            Upload avatar
        </button>

        <button type="button" class="btn btn-primary" style="margin: 40px; max-width: 100px;">
            Save
        </button>


    </div>

</div>

{% endblock %}