{% extends 'layouts/base.html' %}
{% load bootstrap5 %}

{% block title %}
<title>Settings</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-auto page-title">
        <h1>Settings</h1>
    </div>

    <div class="row">
        <form action="/settings/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form layout="horizontal" label_class="form-label col-sm-3" field_class="form-field col-sm-7" %}
                <div class="ask-button d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
            <div class="mb-4">
                <div class="avatar">
                    <img src="{{ request.user.profile.image.url }}" width="100px" alt="">
                </div>
            </div>

    </div>

</div>

{% endblock %}