{% extends 'layouts/base.html' %}
{% load bootstrap5 %}

{% block title %}
<title>Sign up</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-auto page-title">
        <h1>Registration</h1>
    </div>

    <div class="row">

        <div class="input-group mb-3 text_input">

            {% if user.is_authenticated %}
            <div class="alert alert-secondary">You are already logged in</div>
            {% else %}
            <form action="/signup/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form layout="horizontal" label_class="form-label col-sm-3" field_class="form-field col-sm-7" %}

                <div class="ask-button d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-light me-2">Register</button>
                </div>
                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a
                        href="{% url 'login' %}"
                        class="fw-bold text-body"><u>Login here</u></a></p>
            </form>
            {% endif %}

            <span class="input-group-text">Login</span>
            <input type="text" class="form-control" id="login" placeholder="your_login">
        </div>

        <div class="alert alert-danger" role="alert" style="margin-left: 30px; padding:5px;">
            Sorry, login must be unique!
        </div>

        <div class="input-group mb-3 text_input">
            <span class="input-group-text">Email</span>
            <input type="text" class="form-control" id="email" placeholder="dr_pepper@mail.ru">
        </div>

        <div class="alert alert-danger" role="alert" style="margin-left: 30px; padding:5px;">
            Sorry, this email address already registered!
        </div>

        <div class="input-group mb-3 text_input">
            <span class="input-group-text">NickName</span>
            <input type="text" class="form-control" id="nickname" placeholder="Dr. Pepper">
        </div>

        <div class="input-group mb-3 text_input">
            <span class="input-group-text">Password</span>
            <input type="password" class="form-control" id="password" placeholder="********">
        </div>

        <div class="input-group mb-3 text_input">
            <span class="input-group-text">Repeat password</span>
            <input type="password" class="form-control" id="rep_password" placeholder="********">
        </div>

        <img src="../static/img/image.png" alt="" class="avatar_mini" style="margin: 10px 40px; 10px">

        <div style="margin: 20px;">
            avatar.png
        </div>

        <label for="upload-photo" style="margin-left: 20px;">Upload file</label>
        <input type="file" name="photo" id="upload-photo" style="display: none;"/>

        <button type="button" class="btn btn-primary" style="margin: 40px; max-width: 100px;">
            Sign up!
        </button>

    </div>

</div>

{% endblock %}
