{% load static %}

<div class="row answer">
    <div class="col-3">
        <img src="{% static '/img/image.png' %}" alt="" class="answer-image">

        <div class="row">
            <div class="col-6">
                <div style="font-size: 25px; text-align:center;">{{ answer.likes }}</div>
            </div>
            <div class="col-6" style="text-align:left;">
                <div class="row">
                    <input type="image" src="{% static '/img/arrow_up.svg' %}" class="icon-answer"/>
                    <input type="image" src="{% static '/img/arrow_down.svg' %}" class="icon-answer"/>
                </div>
            </div>
        </div>
    </div>

    <div class="col-9">
        <div> {{ answer.answer }}
            <div class="row">
                <div class="form-check" style="margin-top: 20px;">
                    {% if answer.is_correct is True %}
                        <input type="checkbox" id="{{ answer.id }}" class="form-check-input" checked value="">
                        <label for="{{ answer.id }}" class="form-check-label"> Correct </label>
                    {% else %}
                        <input type="checkbox" id="{{ answer.id }}2" class="form-check-input" value="">
                        <label for="{{ answer.id }}2" class="form-check-label"> Correct </label>
                    {% endif %}

                </div>
                <div style="text-align:right;">{{ answer.timestamp }}</div>
                <a style="text-align:right;" href="#">{{ answer.author }}</a>

            </div>
        </div>
    </div>
</div>