{% load static %}

<div class="row question">
    <div class="col-3">
        <img src="{% static '/img/image.png' %}" alt="" class="question-image">
        <div class="row">
            <div class="col-6">
                <div style="font-size: 35px; text-align:center;">{{ question.likes }}</div>
            </div>
            <div class="col-6" style="text-align:left;">
                <div class="row">
                    <input type="image" src="{% static '/img/arrow_up.svg' %}" class="icon"/>
                    <input type="image" src="{% static '/img/arrow_down.svg' %}" class="icon"/>
                </div>

            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="question-title"><a href="{% url 'question' question.id %}">{{ question.title }}</a></div>
        <div class="question-text">{{ question.content }}</div>
        <div class="row">
            <div class="col-md-auto">
                <a href="{% url 'question' question.id %}">answers {{question.answers_count}}</a>
            </div>
            <div class="col-md-auto">
                Tags:
                {% for tag in question.tag.all %}
                <a href="{% url 'tag' tag.id %}">{{ tag.name }}</a>
                {% endfor %}
            </div>
            <div style="text-align:right; margin-top: 10px;">{{ question.timestamp }}</div>
            <a style="text-align:right;" href="#">{{ question.author }}</a>
        </div>
    </div>
</div>
